doctype html
html
  head
    block title
      title OAF16 Zeiterfassung
    link(rel='stylesheet', href='/css/layout.css')
  body
    #wrapper
      block content
    script(src='/socket.io/socket.io.js')
    script(src='/js/jquery.min.js')
    block scripts
